@import url('bootstrap.css');

body{
    font-family: 'Times roman';
  }
  .container{
    text-align: center;
    font-weight: bold;
  }
  .navbar {
    
    overflow: hidden;
  }
  .front-page{
    background: url(../images/pizza1.webp) no-repeat;
    background-size: 100% 100%;
    color: white;
    width: 100% 100%;
    text-align: center;
    font-weight: bold;
   
  }
  .resize {
    width: 320px;
    height: auto;
  }
  .resize {
    width: 320px;
    height: auto;
  }
  .resize {
    width: 320px;
    height: auto;
  }